
@{
    ViewData["Title"] = "YourTest";
}


<div id="tab4" class="tab-pane fade in active">
    <div class="container">
        <h1>Hello, my friend!</h1>
        <img src="~/images/mic.png" alt="">
        <div id="progressBar" class="progressBar">
            <div class="bar"></div>
        </div>
    </div>
</div>